.avatarIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0;
  border-radius: 0.125rem;
  backdrop-filter: blur(4px);
}

.avatarIconAssistant {
  border: 2px solid rgba(0, 158, 219, 0.6);
  background: rgb(119, 255, 255);
}

@keyframes gaming-rainbow-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.avatarIconAssistantIcon {
  width: 30px;
  height: 30px;
  --gamingBorderWidth: 1px;
  position: relative !important;
  border: none !important;
  border-radius: var(--gamingBorderWidth) !important;
  z-index: 100;
}
.avatarIconAssistantIcon:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--gamingBorderWidth) * 2);
  left: calc(-1 * var(--gamingBorderWidth) * 2);
  height: calc(100% + var(--gamingBorderWidth) * 4);
  width: calc(100% + var(--gamingBorderWidth) * 4);
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    aqua,
    blue,
    purple
  );
  border-radius: calc(2 * var(--gamingBorderWidth));
  z-index: -10;
  background-size: 600% 600%;
  animation: gaming-rainbow-background 30s ease infinite;
}
@keyframes r1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.avatarIconAssistantIcon canvas {
  animation: r1 60s linear infinite;
}

.avatarIconHuman {
  border: 2px solid rgba(96, 104, 124, 0.6);
  background: rgba(209, 209, 209, 0.4);
}
