* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(0, 0, 0);
  background: rgb(214, 219, 220);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.blinkingCursor::after {
  content: "";
  width: 10px;
  height: 1.17em;
  margin-top: 4px;
  margin-left: 4px;
  background: #77ffff;
  display: inline-block;
  animation: cursor-blink 0.2s steps(2) infinite;
}
